.text-center{
  text-align: center;
}

.bode{
  color: blue;
  font-size: 81px;
  font-weight: 900;
  font-style: initial;
  text-align: center;
  border: 12px solid black;
  padding: 112px;
  margin: 112px;
}
#example1 {
box-sizing: content-box;  
width: 300px;
height: 180px;
padding: 30px;  
font-size: 22px;
border: 10px solid blue;
}

#example2 {
box-sizing: border-box;
width: 300px;
height: 170px;
padding: 30px;  
font-size: 22px;
border: 10px solid blue;
}
.qw{
color: rgb(0, 0, 0);
font-size: 12px;
font-weight: 100;
font-style: normal;
}


.bg{
  background-image: url(https://picsum.photos/id/1/1500/800);
  color: #fffdfd;
   height: 231px; 
  width: 100%; 
  background-repeat:no-repeat ;
  background-attachment:fixed;
}

.bg-img{    height: 231px; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.459)}

.with{
  background-color: #ffffff;
  text-align: center;
}
.black{
  background-color: #020202;
  text-align: center;
  color: #f3ecec;
}
*{
  margin: 0;
  padding: 0  ;
}
table{
  border: 1px solid black;
  margin: auto;
  width: 100%;
  height: 500px;
}


.icon-box ,.icon-box2 ,.icon-box3 ,.icon-box4 ,.icon-box5{
  position: relative;
}

.overlay ,.overlay2 ,.overlay3 ,.overlay4  {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 92%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.35s ease;
  z-index: 2;
}
.animate{
  animation: animate 2s infinite;

  animation-delay:250ms;
}
@keyframes animate {
  from {top: 0px;}
  to {top: 200px;}
}
.overlay5{
width: 86%;
}


.icon-box:hover .overlay {
  opacity: 1;
}
.icon-box2:hover .overlay2 {
  opacity: 1;
}
.icon-box3:hover .overlay3 {
  opacity: 1;
}
.icon-box4:hover .overlay4 {
  opacity: 1;
}
.icon-box5:hover .overlay5 {
  opacity: 1;
}
.button ,.button2  ,.button3 ,.button4 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  overflow-y: hidden;
  transition: opacity 0.35s ease;
  z-index: 3;
}
.button5{
  left: 43%;
}
.icon-box:hover .button {
  opacity: 1;
 border-radius: 0%;
}
.icon-box2:hover .button2 {
  opacity: 1;
  border-radius: 0%;
}
.icon-box3:hover .button3 {
  opacity: 1;
  border-radius: 0%;
}
.icon-box4:hover .button4 {
  opacity: 1;
  border-radius: 0%;
}
.icon-box5:hover .button5 {
  opacity: 1;
  border-radius: 0%;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  /* border: solid 2px white; */
  text-decoration: none;
  z-index: 3;
}

.button a:hover {
  text-decoration: none;
  color: white;
  /* background-color: #0770b1; */
}

.button2 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  /* border: solid 2px white; */
  text-decoration: none;
  z-index: 3;
}

.button2 a:hover {
  text-decoration: none;
  color: white;
  /* background-color: #0770b1; */
}
.button3 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  /* border: solid 2px white; */
  text-decoration: none;
  z-index: 3;
}

.button3 a:hover {
  text-decoration: none;
    color: white;
  /* background-color: #0770b1; */
}
.button4 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  /* border: solid 2px white; */
  text-decoration: none;
  z-index: 3;
}

.button4 a:hover {
  text-decoration: none;
    color: white;
  /* background-color: #0770b1; */
}
.button5 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  /* border: solid 2px white; */
  text-decoration: none;
  z-index: 3;
}

.button5 a:hover {
  text-decoration: none;
    color: white;
  /* background-color: #0770b1; */
}

.text:hover{
  text-decoration: none;
}



         
.hover {
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  /* display: block; */
}

.hover:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


header ,footer {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}  

nav{
  flex: 50%;
}

article{
  flex: 50%;
}

.row {  
  display: flex;
  /* flex-wrap: wrap; */
}