p{
    color: blue;
    font-size: 21px;
    font-weight: 900;
    font-style: initial;
    text-align: start;
    line-height: 31px;
}

.tex-decoration{
text-decoration: underline;
}
.font-family{
    font-family: Arial, Helvetica, sans-serif;
}

.mukta-extralight {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .mukta-light ,#css {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.mukta-regular {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mukta-medium {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .mukta-semibold {
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .mukta-bold {
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .mukta-extrabold {
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .color{
    color: #03a0bc;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(../font/Playwrite_PL/PlaywritePL-VariableFont_wght.ttf);
  }

  .last {
    font-family: myFirstFont;
    font-optical-sizing: auto;
    font-weight: 220px;
    font-style: normal;
  }

 